<!-- templates/home.html -->
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - API Manga</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'script/function.js' %}"></script>    
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <div class="entete">
        <div class="logo-container">
            <img id="logo" src="{% static 'images/logo.webp' %}">
        </div>
        <nav class="menu" id="navbar">
            <a class="menu_b" href="{% url 'animes' %}">Animes</a>
            <a class="menu_b" href="{% url 'apropos' %}">À Propos</a>
            <a class="menu_b" href="{% url 'faq' %}">FAQ</a>
            <a class="menu_b" href="{% url 'contact' %}">Contact</a>
        </nav>        
    </div>
    <div id="trendingAnime" class="slider-section">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for anime in anime_list %}
                <div class="swiper-slide">
                    <div class="background" style="background-image: url('{{ anime.images.jpg.image_url }}');"></div>
                    <div class="info">
                        <h3>{{ anime.title }}</h3>
                        <p>
                            {% if anime.synopsis %}
                                {{ anime.synopsis|truncatechars:150 }}
                            {% else %}
                                Pas de description disponible.
                            {% endif %}
                        </p>
                        <span>Score: 
                            {% if anime.score %}
                                {{ anime.score }}
                            {% else %}
                                Non Noté
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    
    
    
    
    
    <div id="recherche">
        <input type="text" id="searchInput" placeholder="Rechercher un anime...">
        <div id="searchIcon" onclick="searchAnime()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50">
                <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
            </svg>
        </div>
    </div>

    <div id="haut">
        <div id="filtre">
            <button class="filter" onclick="toggleFilterMenu()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon">
                    <line y1="21" x2="4" y2="14" x1="4"></line>
                    <line x1="4" y1="10" x2="4" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="12"></line>
                    <line x1="12" y1="8" x2="12" y2="3"></line>
                    <line x1="20" y1="21" x2="20" y2="16"></line>
                    <line x1="20" y1="12" x2="20" y2="3"></line>
                    <line x1="1" y1="14" x2="7" y2="14"></line>
                    <line x1="9" y1="8" x2="15" y2="8"></line>
                    <line x1="17" y1="16" x2="23" y2="16"></line>
                </svg>
                <span>FILTRE</span>
            </button>
            <span id="article-count">X Animes</span>
            <div class="tri">
                <span>Trier par :</span>
                <select name="select" id="sort-select" onchange="sortArticles()">
                    <option value="alpha-asc">Alphabétique, A à Z</option>
                    <option value="alpha-desc">Alphabétique, Z à A</option>
                </select>
            </div>
        </div>
    </div>
    <div id="listDiv">
        {% for anime in anime_list %}
        <div class="articles">
            <!-- Rediriger vers AnyMe -->
            <a href="https://any-me.vercel.app/anime/{{ anime.id }}" target="_blank">
                <img src="{{ anime.images.jpg.image_url }}" id="imgg" alt="Anime Image">
                <h3 class="title">{{ anime.title }}</h3>
            </a>
            <span class="price">Score: 
                {% if anime.score is not None %}
                    {{ anime.score }}
                {% else %}
                    Non Noté
                {% endif %}
            </span>
            <span class="category">{{ anime.type }}</span>
        </div>
        {% endfor %}
    </div>
    
    <footer>
        <p>&copy; 2024 API Manga</p>
    </footer>

    <script>

        

        document.getElementById('searchIcon').addEventListener('click', searchAnime);
    </script>

    
</body>
</html>
